.checkout{
    margin-top: 67px;
    padding-bottom: 100px;
    min-height: 394px;
}
.checkout h1{
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
}
.checkout__content{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    position: relative;
    align-items: stretch;
}
.checkout__box{
    width: 100%;
    max-width: 668px;
}
.checkout__box-content{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.checkout__block{
    background-color: var(--color-white);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}
.checkout__block-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.checkout__block > h3{
    font-size: 16px;
    font-weight: 700;
    line-height: 125%;
}
.checkout__block-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.checkout__input-item,
.checkout__block-textarea{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.checkout__input-item input{
    border-radius: 10px;
    border: 1px solid var(--color-light-blue-gray);
    background: var(--color-white);
    width: 100%;
    padding: 11px 5px 11px 13px;
    height: 50px;
}
.checkout__block-radio{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.checkout__radio-label{
    font-size: 16px;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: 0.08px;
}
.checkout__radio {
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkout__radio + .checkmark {
    position: relative;
    top: 1px;
    left: 0;
    padding-left: 28px;
    cursor: pointer;
    display: inline-block;
}
.checkout__radio + .checkmark:before {
    content: '';
    position: absolute;
    left: 0;
    top: -1px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--color-light-blue-gray);
    background: var(--color-white)
}
.checkout__radio:checked + .checkmark:before {
    background-color: var(--color-red);
    border: none;
}
.checkout__radio:checked + .checkmark:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 4px;
    left: 5px;
    background-color: var(--color-white);
    border-radius: 50%;
}
.checkout__radio:checked + .checkmark{
    font-weight: 600;
    letter-spacing: normal;
}
.checkout__radio:disabled + .checkmark{
    opacity: 0.3;
}
.checkout__block-message{
    padding-left: 20px;
    position: relative;
    color: var(--color-gray);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.2px;
}
.checkout__block-message::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 15 15' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.5 13.125C10.6066 13.125 13.125 10.6066 13.125 7.5C13.125 4.3934 10.6066 1.875 7.5 1.875C4.3934 1.875 1.875 4.3934 1.875 7.5C1.875 10.6066 4.3934 13.125 7.5 13.125ZM14.375 7.5C14.375 11.297 11.297 14.375 7.5 14.375C3.70304 14.375 0.625 11.297 0.625 7.5C0.625 3.70304 3.70304 0.625 7.5 0.625C11.297 0.625 14.375 3.70304 14.375 7.5ZM8.125 10C8.125 10.3452 7.84518 10.625 7.5 10.625H7.49375C7.14857 10.625 6.86875 10.3452 6.86875 10C6.86875 9.65482 7.14857 9.375 7.49375 9.375H7.5C7.84518 9.375 8.125 9.65482 8.125 10ZM7.5 8.125C7.15482 8.125 6.875 7.84518 6.875 7.5V5C6.875 4.65482 7.15482 4.375 7.5 4.375C7.84518 4.375 8.125 4.65482 8.125 5V7.5C8.125 7.84518 7.84518 8.125 7.5 8.125Z' fill='%23979797'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
}
.checkout__total{
    width: 100%;
    max-width: 471px;
    padding: 30px 20px;
    border-radius: 10px;
    background-color: var(--color-white);
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.checkout__total-title{
    padding: 11px 15px;
    color: rgba(25, 25, 25, 0.50);
    font-weight: 600;
    line-height: 120%;
    border-radius: 5px;
    background: var(--color-light-gray);
}
.checkout__total-position{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.checkout__total-position p{
    font-size: 16px;
    font-weight: 600;
    line-height: 125%;
}
.checkout__total-delivery{
    display: flex;
    align-items: start;
    gap: 4px;
}
.checkout__total-delivery svg{
    min-width: 15px;
}
.checkout__total-delivery p{
    color: var(--color-red);
    font-size: 15px;
    font-weight: 700;
    line-height: 135%;
    letter-spacing: 0.2px;
}
.checkout__total-content{
    display: flex;
    flex-direction: column;
    gap: 20px; 
}
.checkout__total-item{
    padding-top: 20px;
    border-top: 1px solid rgba(25, 25, 25, 0.20);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.checkout__total-item > h3{
    color: var(--color-red);
    font-size: 18px;
}
.checkout__total-block{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.checkout__product-top{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.checkout__product-top h3{
    font-weight: 600;
    line-height: 135%;
    text-decoration-line: underline;
    text-transform: uppercase;
}
.checkout__product-top p{
    color: rgba(25, 25, 25, 0.50);
}
.checkout__product-message p{
    font-size: 12px;
    font-weight: 500;
    line-height: 135%;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.checkout__product-bottom{
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.checkout__product-price{
    display: flex;
    align-items: center;
    gap: 10px;
}
.checkout__total-item > h3,
.checkout__product-top p,
.checkout__product-price p{
    font-weight: 600;
    line-height: 120%;
}
.checkout__product-price p:last-of-type{
    color: var(--color-gray);
}
.checkout__product-total p{
    font-weight: 700;
    line-height: 120%;
}
.checkout__total-price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(25, 25, 25, 0.20);
    border-bottom: 1px solid rgba(25, 25, 25, 0.20);
}
.checkout__total-price p{
    color: var(--color-red);
    font-size: 16px;
    font-weight: 700;
    line-height: 125%;
}
.checkout__block-textarea{
    display: flex;
    flex-direction: column;
}
.checkout__block-textarea textarea{
    resize: none;
    border: 1px solid var(--color-light-blue-gray);
    height: 100px;
    outline: none;
    background: var(--color-white);
    width: 100%;
    padding: 11px 5px 11px 13px;
    border-radius: 10px;
}
.label-name{
    font-size: 16px;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: 0.08px;
}
.text-danger{
    font-size: 12px;
    line-height: 125%;
    color: var(--color-red);
    display: none;
}
.checkout__input-item input.error + .text-danger{
    display: inline-block;
}
.checkout__block-send{
    border-radius: 5px;
    background: var(--color-red);
    width: 100%;
    height: 45px;
    color: var(--color-white);
    font-weight: 600;
    line-height: 120%;
}
.checkout__block-send:active{
    background-color: rgba(25, 25, 25, 0.5);
}
.filter__label{
    font-family: var(--font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 135%;
    cursor: pointer;
    width: auto;
    min-width: 130px;
}
.filter__checkbox {
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.filter__checkbox + .checkmark {
    position: relative;
    top: 1px;
    left: 0;
    padding-left: 30px;
    cursor: pointer;
    display: inline-block;
}
.filter__checkbox + .checkmark:before {
    content: '';
    position: absolute;
    left: 0;
    top: -1px;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid var(--color-gray);
    background-color: var(--color-white);
}
.filter__checkbox:checked + .checkmark{
    color: var(--color-dark);
}
.filter__checkbox:checked + .checkmark:before {
    background: var(--color-red);
    border: 1px solid var(--color-red);
}
.filter__checkbox:checked + .checkmark:after {
    content: '';
    position: absolute;
    left: 2px;
    top: 1px;
    width: 16px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M13.3337 4L6.00033 11.3333L2.66699 8' stroke='white' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
@media (max-width: 1279px) {
    .checkout__total{
        max-width: 390px;
    }
}
@media (max-width: 999px) {
    .checkout__total {
        max-width: 300px;
    }
}
@media (max-width: 767px) {
    .checkout{
        margin-top: 35px;
        padding-bottom: 96px;
    }
    .checkout h1 {
        font-size: 18px;
    }
    .checkout__box{
        max-width: 100%;
    }
    .checkout__content{
        margin-top: 30px;
        flex-direction: column;
    }
    .checkout__block{
        padding: 20px;
    }
    .label-name:not(.checkout__block-textarea .label-name) {
        font-size: 14px;
        line-height: 135%;
        letter-spacing: normal;
    }
    .checkout__block-message{
        padding-left: 0;
        padding-top: 21px;
        font-size: 14px;
        letter-spacing: normal;
    }
    .checkout__total{
        padding: 20px;
        max-width: 100%;
    }
    .checkout__total-title{
        padding: 11px;
    }
    .checkout__total-delivery p {
        color: var(--color-red);
        font-size: 14px;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: normal;
    }
    .checkout__total-item > h3{
        font-size: 16px;
    }
    .checkout__product-message p{
        font-size: 14px;
    }
    .checkout__product-bottom{
        margin-top: 20px;
    }
    .checkout__product-price{
        gap: 6px;
    }
    .checkout__total-price{
        padding: 30px 0;
    }
    .checkout__total-checkbox{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .checkout__block-send{
        margin-top: 10px;
    }
}